.header {
	background-color: blue;
	display: flex;
}

.logo img {
	width: 20%;
	height: auto;
}
.container {
	display: flex;
	flex-direction: column;
}
.icons ul {
	display: flex;
	margin: 10px;
	width: 25%;
	background-color: aquamarineS;
}
.possition-icons li {

	padding: 20%;
	background-color: orange;
}
.navbar {
	background-color: brown;
}