.modal {
  position: absolute;
  margin-top: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: auto;
  max-height: 700px;
  max-width: 500px;
  background-color: rgb(32, 30, 30);
  border-radius: 4px;
  padding: 3rem 4rem;
  z-index: 2;
}

.remove-btn {
  background-color: rgb(255,88,88);
  color: rgb(255, 244,244);
}