h1 {
  text-align: center;
}

.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.list li {
  list-style-type: none;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
  padding: 1rem;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.overlay {
  position: relative;
  transition: all 1s;
}

.overlay:after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  background: rgba(0,0,0,0.15);
  border-radius: inherit;
  opacity: 1;
  transition: all 0.5s;
}
.overlay:hover:after { 
  opacity: 0;
}

.modal {
  position: absolute;
  box-shadow: 0.2px 0.6px 0.5px 0.5px rgba(0,0,0,0.5);
  width: auto;
  max-width: 500px;
  background-color: rgb(211, 211, 211);
  border-radius: 4px;
  padding: 3rem 4rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.btn-close {
  position: absolute;
  right: 2%;
  top: 4%;
}

.form {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
  border: solid 1px rgb(211, 211, 211);
}

.form button {
  background-color: rgb(163, 205, 233);
}

.form button:hover {
  background-color: rgb(187, 215, 235);
}